* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 80px;
}

.card-hover-effect img {
    width: 100%;
    height: 200px;
}

.custom-card {
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.custom-card:hover {
    -webkit-box-shadow: -1px 9px 40px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -9px rgba(0, 0, 0, 0.75);
    -o-box-shadow: -1px 9px 40px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -9px rgba(0, 0, 0, 0.75);
}